@model IEnumerable<EventsKob.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var _event in Model)
    {
        <li>@_event.DateTime - @_event.EventMaker.UserName</li>
    }
</ul>
